{{ attach_library('ebleulab/header') }}
{{ attach_library('ebleulab/copyright') }}
<header>
  <nav class="o-Flex o-MobileBar o-Drawer c-Banner c-Banner--nav -d-n-sM">
    <h1 class="h-Hidden">Mobile Menu</h1>
    <a class="o-Flex__Item o-MobileBar__Item h-Block" href="/">
      <i class="glyphicons glyphicons-home"><span class="h-Hidden">Home</span></i>
    </a>
    <button class="o-Flex__Item o-MobileBar__Item o-Drawer__Button" type="button" aria-controls="mobile-drawer" aria-expanded="false">
      <i class="glyphicons glyphicons-menu-hamburger">
        <span class="h-Hidden">toggle main menu</span>
      </i>
    </button>
    <noscript><a href="#sitemap">Site Map</a></noscript>
    <div id="mobile-drawer" class="o-Drawer__Bar" aria-hidden="true">{{ page.menu_mobile }}</div>
  </nav>
  <div class="c-Banner c-Banner--head">
    <div class="o-Flex h-Constrain">
      <a class="o-Flex__Item o-MainCol h-Block" href="{{ path('<front>') }}" rel="home">
        {{ page.header }}
      </a>
      <div class="o-Flex__Item o-SideCol c-TopImg -d-n-nM" style="background-image: url('{{ page_images_banner }}');">
        {#<span class="c-YearBadge" aria-hidden="true">
          {{- (page_startdate|date('Y'))[:2] -}}
          <span class="c-YearBadge__Year">{{ (page_startdate|date('Y'))[2:] }}</span> #}
        </span>
        {{ page.menu_contrib }}
      </div>
    </div>
  </div>
  <nav class="c-Banner c-Banner--nav -d-n-nM">
    <h1 class="h-Hidden">Main Menu</h1>
    <div class="h-Constrain o-Flex">
      <div class="o-Flex__Item o-MainCol">{{ page.menu_main }}</div>
      <div class="o-Flex__Item o-SideCol">{{ page.menu_register }}</div>
    </div>
  </nav>
  {#<nav>
    <h1 class="h-Hidden">Sub Menus</h1>
      {{ page.menu_sub }}
  </nav>#}
</header>
<main class="o-Flex h-Constrain" id="main">
    <div class="o-Flex__Item o-MainCol">{{ page.content }}</div>
    <div class="o-Flex__Item o-SideCol">{{ page.sidebar }}</div>
</main>
<footer>
  {{ page.footer }}

  <a class="o-Flex__Item" href="https://www.ebleulab.com/" rel="external" target="_blank">&copy;
      <time>{{ now|date("Y") }}</time>,
      E-Bleu Lab | ebleulab.com</a>
  </p>
</footer>
